.authButton {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 100px;
  height: 50px;
  font-size: 15px;
}

.authDialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authDialog div {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
